:root {
    --clr-primary-50: hsl(260, 100%, 95%);
    --clr-primary-300: hsl(264, 82%, 80%);
    --clr-primary-500: hsl(263, 55%, 52%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-dark: hsl(0, 0%, 7%);

    --clr-neutral-100: hsl(214, 17%, 92%);
    --clr-neutral-200: hsl(0, 0%, 81%);
    --clr-neutral-400: hsl(224, 10%, 45%);
    --clr-neutral-500: hsl(217, 19%, 35%);
    --clr-neutral-700: hsl(219, 29%, 14%);

    --ff: "Barlow Semi Condensed", sans-serif;
    --fs: 13px;
    --fw-500: 500;
    --fw-600: 600;

    --spacer: 1rem;

    --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
    background: var(--clr-neutral-100);
    line-height: 1.6;
    margin: 0;
}

.candidate__image img {
    display: block;
    max-width: 100%;
    width: 40px;
    height: auto;
    outline: 2px solid var(--outline, var(--clr-primary-300));
    border-radius: 100vw;
}

.container {
    max-width: 30rem;
    margin: 0 auto;
    padding: 0em 2em;
}

.cards {
    padding: 3em 0;
}

.split {
    display: flex;
    align-items: center;
    gap: var(--spacer);
}

.flow-content>*+* {
    margin-top: var(--spacer);
}

.candidate {
    background: var(--bg, var(--clr-white));
    color: var(--fg, var(--clr-dark));
    border-radius: 10px;
    padding: 2em;
    margin-top: calc(var(--spacer) * 2);
    box-shadow: var(--box-shadow);

    position: relative;
    z-index: 2;
}

.candidate .candidate__name {
    font-weight: var(--fw-600);
}

.candidate .candidate__text {
    font-size: 1.5rem;
    font-weight: var(--fw-600);
    line-height: 1.2;
}

.bg-purple {
    --bg: var(--clr-primary-500);
    --fg: var(--clr-primary-300);
}

.bg-grey {
    --bg: var(--clr-neutral-500);
    --fg: var(--clr-neutral-200);
    --outline: var(--clr-neutral-500);
}

.bg-dark-blue {
    --bg: var(--clr-neutral-700);
    --fg: var(--clr-neutral-200);
    --outline: var(--clr-primary-500);
}

/* default */
.bg-white {
    --bg: var(--clr-white);
    --fg: var(--clr-neutral-700);
    --outline: var(--clr-white);
}

.quote-icon {
    display: none;
}

@media (min-width: 40rem) {
    .container {
        display: grid;
        place-items: center;
        min-height: 100vh;
        max-width: 70rem;
    }

    .quote-icon {
        display: block;
        margin-left: auto;
        position: absolute;
        right: 7rem;
        top: 0.5rem;
        z-index: -1;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "daniel    daniel   jonathan  kira"
            "jeanette  patrick  patrick   kira";
        gap: var(--spacer);
    }

    .daniel {
        grid-area: daniel;
    }

    .jonathan {
        grid-area: jonathan;
    }

    .kira {
        grid-area: kira;
    }

    .jeanette {
        grid-area: jeanette;
    }

    .patrick {
        grid-area: patrick;
    }

    .candidate {
        margin-top: 0;
    }
}